{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Aggregated Disasters</title>
    <link rel="stylesheet" type="text/css" href = "{% static 'bootstrap/css/bootstrap.css'%} ">
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}"/>
</head>
<body class="container">
	<div class = "row">
		<div class = "col-md-2">
            <div class="list-group">
                <div class="list-group-item list-group-item-heading">
                    CHANNELS
                </div>
                {% if name == '' %}
                    <div class="list-group-item list-group-item-success"> #all </div>
                {% else %}
                    <a href="/channels/" class="list-group-item"> #all </a>
                {% endif %}
                {% for channel in channels %}
                    {% if channel.name == name %}
                        <div class="list-group-item list-group-item-success"> {{ channel }} </div>
                    {% else %}
                        <a href="/channels/{{ channel.name }}" class="list-group-item"> {{ channel }} </a>
                    {% endif %}
                {% endfor %}
            </div>
            <form method="GET" class="form form-horizontal">
                <input type="number" name="threshold" class="form-control" size="3" value="{{ threshold }}">
                <button type="submit" class="btn btn-primary">Go</button>
            </form>
		</div>
		<div class = "col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-item-heading">
                    MESSAGES
                </div>
                {% for message in messages %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>PHONE NO.: </b> {{ message.mobile_number }}
                            </div>
                            <div class="col-md-6">
                                <div style="text-align: right;">
                                    {{ message.created_at }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <b>Aggregated sentiment (within a radius): </b> {{ message.total_sentiment }}
                            </div>
                            <div class="col-md-5">
                                <div style="text-align: right;">
                                    <b>Predicted Sentiment: </b> {{ message.sentiment }}
                                </div>
                            </div>
                        </div>
                        <br/>
                        <p> {{ message.message }} </p>
                    </div>
                {% endfor %}
            </div>
		</div>
		<style type="text/css">
			#map { height: 50rem; margin: 0; padding: 0;}
		</style>
		<div class = "col-md-4" id = "map">
            <script type = "text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
            <script type = "text/javascript">
            	var places =[]
            	{% for message in messages %}
                    places.push([{{ message.latitude}}, {{ message.longitude }}]);
            	{% endfor %}
            	function initialize() {
				var myLatlng = new google.maps.LatLng(14.558125, 121.0181183);
				var mapOptions = {
					zoom: 15,
					center: myLatlng
				}
				var map = new google.maps.Map(document.getElementById('map'), mapOptions);
				for  (var x = 0; x < places.length; x++)
				{
					var latlng = new google.maps.LatLng(places[x][0],places[x][1]);
					new google.maps.Marker({
					position: latlng,
					map: map,
					title: 'Report!'
					});
				}


				}

				google.maps.event.addDomListener(window, 'load', initialize);
            </script>

		</div>
	</div>

</body>
</html>
