{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type="text/css" href = "{% static 'bootstrap/css/bootstrap.css'%} ">
	<title>Test</title>
</head>
<body class="container">
	<div class = "row">
		<div class = "col-md-2">
            <div class="list-group">
                <div class="list-group-item list-group-item-heading">
                    CHANNELS
                </div>
                {% for channel in channels %}
                    {% if channel.name == current_channel.name %}
                        <div class="list-group-item list-group-item-success"> {{ channel }} </div>
                    {% else %}
                        <a href="/channels/{{ channel.name }}" class="list-group-item"> {{ channel }} </a>
                    {% endif %}
                {% endfor %}
            </div>
		</div>
		<div class = "col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-item-heading">
                    MESSAGES
                </div>
                {% for message in current_channel.message_set.all %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>PHONE NO.: </b> {{ message.mobile_number }}
                            </div>
                            <div class="col-md-6">
                                <div style="text-align: right;">
                                    {{ message.created_at }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <b>Address: </b> {{ message.description }}
                            </div>
                            <div class="col-md-5">
                                <div style="text-align: right;">
                                    <b>Predicted Sentiment: </b> {{ message.sentiment }}
                                </div>
                            </div>
                        </div>
                        <br/>
                        <p> {{ message.message }} </p>
                    </div>
                {% endfor %}
            </div>
		</div>
		<style type="text/css">
			#map { height: 50rem; margin: 0; padding: 0;}
		</style>
		<div class = "col-md-4" id = "map">
            <script type = "text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
            <script type = "text/javascript">
            	var places =[]
            	{% for message in messages %}
            	var place = []
            	place.push({{ message.latitude}});
            	place.push({{ message.longitude}});
            	places.push(place);
            	{% endfor %}
            	function initialize() {
				var myLatlng = new google.maps.LatLng(14.659505, 120.955992);
				var mapOptions = {
					zoom: 5,
					center: myLatlng
				}

				var map = new google.maps.Map(document.getElementById('map'), mapOptions);
				for  (var x = 0; x < places.length; x++)
				{
					var latlng = new google.maps.LatLng(places[x][0],places[x][1]);
					new google.maps.Marker({
					position: latlng,
					map: map,
					title: 'Report!'
					});
				}
				var Latlng = new google.maps.LatLng(17.5667, 120.3833);
				var marker = new google.maps.Marker({
					position: Latlng,
					map: map,
					title: 'Worker!'
					});
				marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');


				}

				google.maps.event.addDomListener(window, 'load', initialize);
            </script>

		</div>
	</div>

</body>
</html>
